<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Zdravím, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Odhlásit se</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Zaregistrovat se</a>
        <a href="Identity/Account/Login">Přihlásit se</a>
    </NotAuthorized>
</AuthorizeView>
