<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Přerov Mammoths</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domovská stránka
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin, Manager, Coach, Player">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prispevky">
                <span class="oi oi-euro" aria-hidden="true"></span> Příspěvky
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Manager, Coach, Player">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="treninky">
                <span class="oi oi-calendar" aria-hidden="true"></span> Tréninky
            </NavLink>
        </div>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="napoveda">
                <span class=" oi oi-question-mark" aria-hidden="true"></span> Nápověda
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-folder" aria-hidden="true"></span> Admin Component
            </NavLink>
            </div>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
